body {
  margin: 0px;
  overflow-x: hidden;
}

#root {
  padding-top: 100px;
}

.backgroundStripTilted {
  position: absolute;
  z-index: 0;
  top: -900px;
  left: 0;
  width: 100%;
  height: 1250px;
  background-color: #f7fafc;
  /* border-bottom: 3px dashed #ebedf3; */
  transform: skewY(-10deg);
}

/* I sort of figured out Stripe's strip design
   by trial and error haha */
.stripRightTop {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 35px;
  bottom: 0;
  left: calc(50% + 500px);
  right: 0;
  background-color: #7a73ff;
}

/* Is calc() safe to use? */
.stripRightBottom {
  z-index: 1;
  position: absolute;
  width: 150px;
  height: 25px;
  bottom: -25px;
  left: calc(50% + 600px);
  background-color: #80e9ff;
}

.stripRightMiddle {
  z-index: 1;
  position: absolute;
  width: 150px;
  height: 10px;
  bottom: 0px;
  left: calc(50% + 600px);
  background-color: #0048e5;
}

.stripLeft {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 35px;
  bottom: -35px;
  /*right: 85%;*/
  right: calc(50% + 500px);
  background-color: #7a73ff;
}

.stripLeft, .stripRightTop, .stripRightMiddle, .stripRightBottom {
  transition: 0.5s;
}

@media (max-width: 1112px) {
  .stripRightTop {
    left: 90%
  }

  .stripRightBottom {
    left: calc(90% + 40px)
  }

  .stripRightMiddle {
    left: calc(90% + 40px)
  }

  .stripLeft {
    right: 90%;
  }
}

.backgroundSummarized .stripLeft, .backgroundSummarized .stripRightTop {
  background-color: #00d924;
}

.backgroundSummarized .stripRightBottom {
  background-color: #1df5e9;
}

.backgroundSummarized .stripRightMiddle {
  background-color: #00a600
}